!build/patches/**/node_modules
!public/dist/_redirects
*.cache
*.log
.DS_Store
.eslintrc.json
.next
.settings
.cache
/.env
/front/**/build
/front/**/public/dist
/node_modules
_ide_helper*.php
lefthook-local.yml
logs
public/dist
test-ledger
wip
/tests/*.js
*.env
**/.env
**/node_modules
.vercel
out
out_tests
.pact-history
.draft
lib.repl
*.env
**/.env
**/node_modules
pact
scripts
log