::-webkit-scrollbar {
  -webkit-appearance: none !important;
  width: 4px !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px !important;
  background-color: rgba(250,250,250,.2) !important;
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5) !important;
}
