[Unit]
Description=This service starts cwnode

[Service]
WorkingDirectory=/home/ubuntu/chainweb-node
ExecStart=docker compose up -d
Restart=no

[Install]
WantedBy=multi-user.target
