[Unit]
Description=This service starts cwnode

[Service]
WorkingDirectory=/root/chainweb-node
ExecStart=docker compose up -d
Restart=always

[Install]
WantedBy=multi-user.target
